# Ignore all files from directory jenkins_home, because they are created at runtime.
# Do not ignore the dummy file in the jenkins_home directory, so that git is able to save it. 
# This is because the jenkins_home directory must exist before running docker-compose.
*/jenkins_home/*
!*/jenkins_home/dummy
